repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
        exclude: modules/deploy/nginx/nginx-manifests.yaml
      - id: check-merge-conflict

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args: ['--tf-init-args=-upgrade']
      - id: terragrunt_fmt
      - id: terragrunt_validate
